.navbar-style {
    background-color: purple;
    color: white;  
    font-size: 20px;  
}

.navbar-style button{
    font-size: 22px;
    background-color: tomato;
    font-weight: bold;
    color: black;
}